<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Bootstrap, from Twitter</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
</head>

<body>
	{% block head %}
		<h1>Hwwew</h1>
	{% endblock %}

	{% block content %}

	{% endblock %}
</body>
</html>